:root {
    --menu-bg-color: #4d9aa4;
}

* {
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

.begin {
    background-color: var(--menu-bg-color);
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.start {
    background-color: black;
}

a {
    width: 15vw;
    height: 40px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    font-size: 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.img {
    height: 100vh;
    width: 100%;
    background-image: url(Material/Sea.png);
    background-size: cover;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button {
    background-color: transparent;
    border-color: white;
    border-radius: 5px;
    height: 40px;
    width: 90px;
}

.black-block {
    background-color: black;
    height: 100hv;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 55px;
    margin-top: 55px;
}

h2 {
    font-size: 30px;
}

br+p {
    height: 80%;
    width: 85%;
}

.pictures {
    background-color: black;
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.boys {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.chuvak {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
}

.paraghraph {
    text-align: left;
}

.boy-1 {
    background-color: #50b27d;
    height: 100%;
    width: 90%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

.boy-2 {
    background-color: #7765ca;
    height: 100%;
    width: 90%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

.boy-3 {
    background-color: #c03132;
    height: 100%;
    width: 90%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

.network {
    height: 90px;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-right: 10%;
    padding-top: 130px;
}

.net {
    width: 40px;
    height: 40px;
    background-color: black;
}

.border {
    border: 1px solid white;
}

.end {
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
}

.network>div {
    margin: 1px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    a {
        font-size: x-small;
        margin-right: 2%;
    }
    h1 {
        font-size: 20px;
    }
    .begin {
        height: 8vh;
    }
    img {
        height: 30px;
        width: 30px;
    }
    .boy-1 {
        width: 90%;
    }
    .boy-2 {
        width: 90%;
    }
    .boy-3 {
        width: 90%;
    }
    .net {
        width: 25px;
        height: 25px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .begin {
        height: 6vh;
    }
    .boy-1 {
        width: 85%;
    }
    .boy-2 {
        width: 85%;
    }
    .boy-3 {
        width: 85%;
    }
}